.kon-ripple{
    --duration: 0ms;
    --dx: 0px;
    --dy: 0px;
    --dw: 0px;
    --dh: 0px;
    --opacity: 0;
    position: absolute;
    left: var(--dx);
    top: var(--dy);
    width: var(--dw);
    height: var(--dh);
    border-radius: 50%;
    opacity: var(--opacity);
    // background: radial-gradient(circle, rgba(255,255,255, 0.05), rgba(255,255,255, .6));
    /* custom eased gradient (exponential) */
    background: radial-gradient(
        circle closest-side,
        hsla(0, 0%, 100%, 0.05) 0%,
        hsla(0, 0%, 99.99%, 0.054) 9.9%,
        hsla(0, 0%, 99.97%, 0.066) 19.4%,
        hsla(0, 0%, 99.94%, 0.084) 28.4%,
        hsla(0, 0%, 99.89%, 0.109) 36.8%,
        hsla(0, 0%, 99.84%, 0.139) 44.8%,
        hsla(0, 0%, 99.78%, 0.174) 52.3%,
        hsla(0, 0%, 99.7%, 0.213) 59.4%,
        hsla(0, 0%, 99.63%, 0.256) 66%,
        hsla(0, 0%, 99.54%, 0.302) 72.1%,
        hsla(0, 0%, 99.46%, 0.35) 77.9%,
        hsla(0, 0%, 99.37%, 0.399) 83.1%,
        hsla(0, 0%, 99.27%, 0.45) 88%,
        hsla(0, 0%, 99.18%, 0.501) 92.4%,
        hsla(0, 0%, 99.09%, 0.551) 96.4%,
        hsla(0, 0%, 99%, 0.6) 100%
    );
    /* inverted effect */
    /*background: radial-gradient(
        circle closest-side,
              hsla(0, 0%, 100%, 0.39) 0%,
              hsla(0, 0%, 100%, 0.387) 14.3%,
              hsla(0, 0%, 100%, 0.38) 27.4%,
              hsla(0, 0%, 100%, 0.368) 39.2%,
              hsla(0, 0%, 100%, 0.351) 49.8%,
              hsla(0, 0%, 100%, 0.331) 59.3%,
              hsla(0, 0%, 100%, 0.308) 67.6%,
              hsla(0, 0%, 100%, 0.281) 74.9%,
              hsla(0, 0%, 100%, 0.252) 81.1%,
              hsla(0, 0%, 100%, 0.22) 86.4%,
              hsla(0, 0%, 100%, 0.186) 90.7%,
              hsla(0, 0%, 100%, 0.151) 94.2%,
              hsla(0, 0%, 100%, 0.114) 96.8%,
              hsla(0, 0%, 100%, 0.076) 98.6%,
              hsla(0, 0%, 100%, 0.038) 99.7%,
              hsla(0, 0%, 100%, 0) 100%
    );*/
    transition-property: background, width, height, opacity;
    transform: translate(-50%, -50%);
    transition-duration: var(--duration);
    transition-timing-function: ease;
    z-index: 0;
    &.kon-ripple-solid{
        // background: rgba(80, 67, 255, 0.1);
        background: rgba(var(--konponent-color), 0.05);
    }
}