.kon-ripple{
    --duration: 0ms;
    --dx: 0px;
    --dy: 0px;
    --dw: 0px;
    --dh: 0px;
    --opacity: 0;
    position: absolute;
    left: var(--dx);
    top: var(--dy);
    width: var(--dw);
    height: var(--dh);
    border-radius: 50%;
    opacity: var(--opacity);
    box-shadow: 
        inset 0 0 calc(var(--dw) / 3) calc(var(--dw) / 3.2) rgba(255,255,255,.4),
        0 0 20px 20px rgba(255,255,255,.4);
    transition-property: background, width, height, opacity;
    transform: translate(-50%, -50%);
    transition-duration: var(--duration);
    transition-timing-function: ease;
    z-index: 0;
    &.kon-ripple-solid{
        // background: rgba(80, 67, 255, 0.1);
        background: rgba(var(--konponent-color), 0.05);
    }
}