.kon-toggle-modal{
	&-enter-active, &-leave-active{
		transition-property: opacity;
        transition-timing-function: ease;
        transition-duration: 250ms;
		.kon-modal-content{
			transition-property: transform;
			transition-timing-function: ease;
			transition-duration: 250ms;
		}
	}
	&-leave-active{
        transition-duration: 150ms;
		.kon-modal-content{
			transition-duration: 150ms;
		}
	}
	&-enter, &-leave-to{
		opacity: 0;
		.kon-modal-content{
			transform: scale(0.8);
		}
	}
}