@keyframes rebound-scale{
	0%, 100%{
        transform: scale(1)
    }
    40%{
        transform: scale(1.05)
    }
    80%{
        transform: scale(0.95)
    }
}

@keyframes shake-transform{
    10%, 90% {
        transform: translate(-1px, 0);
    }
    
    20%, 80% {
        transform: translate(2px, 0);
    }

    30%, 50%, 70% {
        transform: translate(-4px, 0);
    }

    40%, 60% {
        transform: translate(4px, 0);
    }
}