.kon-select.default{
    .kon-show-options{
        &-enter-active, &-leave-active{
            transition-property: max-height, transform, opacity, background-color;
            transition-timing-function: ease;
            /*
             * --open-transition-duration inherited from styles/components/_KonOption.scss 
             */
            transition-duration: var(--open-transition-duration);
            pointer-events: none;
        }
        &-enter, &-leave-to{
            max-height: 0px;
            transform: translateY(-12px);
            & > *{  // fade KonOption elements
                opacity: 0;
            }
        }
    }
}