.kon-prompt, .kon-alert, .kon-confirm {
    .kon-modal-content{
        max-width: 500px;
    }
    &-header,
    &-content {
        margin: 0;
    }

    &-footer {
        display: flex;
        justify-content: flex-end;
    }
}