.kon-button{
    --font-size: .8rem;
    --radius: 12px;
    --padding: 8px 12px;
    --konponent-color: var(--primary-color);
    --current-foreground-color: var(--foreground-color);
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: var(--padding);
    margin: 4px;
    background: rgb(var(--konponent-color));
    color: #fff;
    border-radius: var(--radius);
    font-size: var(--font-size);
    font-family: 'Poppins';
    overflow: hidden;
    cursor: pointer;
    transition-property: box-shadow, transform, background-color, border-radius, border, color;
    transition-duration: 250ms;
    transition-timing-function: ease;
    box-sizing: border-box;
    &.block{
        display: block;
        width: 100%;
    }
    &.icon-only{
        /* helps to make it 1:1 aspect ratio but doesn't force it (content must be 1:1) */
        --padding: 8px;
        &.xs{
            --padding: 6px;
        }
        &.xl{
            --padding: 12px;
        }
    }
    &.text{
        // ToDo: text variant has visibility problems on dark theme. Maybe crankig up the opacity of the bg could help
        background: none;
        color: rgb(var(--konponent-color));
        &:hover, &:focus{
            box-shadow: none;
            transform: none;
            &::before{
                opacity: 1;
                transform: scale(1);
            }
        }
        &:focus-visible:active::before{
            // keyboard only :D
            background: rgba(var(--konponent-color), 0.2);
        }
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            border-radius: var(--radius);
            background: rgba(var(--konponent-color), 0.1);
            transform: scale(0);
            transition-property: transform, opacity;
            transition-duration: 150ms;
            transition-timing-function: ease;
            transform-origin: center;
            z-index: 0;
        }
    }
    &.border{
        --border-width: 2px;
        --border-color: var(--background-color);
        background: transparent;
        color: rgb(var(--current-foreground-color));
        box-shadow: inset 0 0 0 var(--border-width) rgb(var(--border-color));
        &:hover, &:focus{
            // override the glow effect in the default button (inherit does not work with variables)
            box-shadow: inset 0 0 0 var(--border-width) rgb(var(--border-color));
            --border-color: var(--konponent-color);
            transform: none;
            background: rgb(var(--konponent-color));
            color: #FFF;
        }
        // This button variant is the hardest to implement when it comes to keyboard navigation's visual feedback
        &:focus-visible{
            background: transparent;
            --border-color: var(--konponent-color);
            // again, inherit does not work with variables :(
            color: rgb(var(--current-foreground-color));        
        }
        &:focus-visible:active{
            // Keyboard only :D
            background: rgb(var(--konponent-color));
            color: #FFF;
        }
    }
    &.xs{
        // Override parent font-size with ease which also changes icon size
        --font-size: .5rem;
        --radius: 10px;
        --padding: 6px 10px;
    }
    &.xl{
        --font-size: 1.1rem;
        --radius: 16px;
        --padding: 12px 16px;
    }
    &:hover, &:focus{
        box-shadow: 0 10px 15px -8px rgba(var(--konponent-color), .8);
        transform: translateY(-4px);
    }
    &:active{
        box-shadow: none;
        transform: translateY(0px);
    }
    &:disabled{
        pointer-events: none;
        box-shadow: none;
        transform: translateY(0px);
        opacity: .6;
    }
    
    > .content{
        display: inline-flex;
        align-items: center;
        gap: 8px;
        > .icon{
            width: var(--font-size);
            height: var(--font-size);
            background: red;
        }
    }

    &.no-margin{
        margin: 0;
    }
}