@mixin elevated-placeholder{
    pointer-events: auto;
    transform: translate(0, calc(-100% - 8px)) scale(0.9);
    --current-label-color: rgba(var(--foreground-color), 1);
}

.kon-select, .kon-select-multiple{
    --margin: 0px;
    --current-label-color: rgba(var(--foreground-color), 1);
    margin: var(--margin);
    &.full-width{
        width: 100%;
    }
    &.has-label{
        margin-top: 22px;
    }
    &.has-margin{
        --margin: 20px 0;
    }
    > .kon-select-label{
        position: absolute;
        display: flex;
        align-items: center;
        left: 0;
        font-size: .8rem;
        transform: translate(8px, calc(-100% - 8px));
        color: var(--current-label-color);
        &.is-placeholder{
            transition-property: transform, color;
            transition-timing-function: ease;
            transition-duration: 250ms;
            --current-label-color: rgba(var(--foreground-color), .4);
            // passthrough events while on placeholder mode
            pointer-events: none;
            transform: translate(10px, 0);
            &.elevated{
                @include elevated-placeholder;
            }
        }
    }
    > .chevron{
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 8px;
        height: 100%;
        color:rgba(var(--foreground-color), 1);
        transform: rotate(0deg);
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: ease;
    }
    &.open{
        > .chevron{
            transform: rotate(180deg);
        }
        > .kon-select-label.is-placeholder{
            @include elevated-placeholder;
        }
    }
    > .kon-select-message{
        position: absolute;
        padding: 0 8px;
        left: 0;
        top: calc(100% + 2px);
        font-size: .7rem;
        color: var(--current-label-color);
    }
}